@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 252 252 252;
  --foreground: 38 38 38;
  --card: 255 255 255;
  --card-foreground: 38 38 38;
  --popover: 255 255 255;
  --popover-foreground: 38 38 38;
  --primary: 64 64 64;
  --primary-foreground: 252 252 252;
  --secondary: 245 245 247;
  --secondary-foreground: 64 64 64;
  --muted: 245 245 245;
  --muted-foreground: 128 128 128;
  --accent: 243 244 246;
  --accent-foreground: 64 64 64;
  --destructive: 239 68 68;
  --destructive-foreground: 252 252 252;
  --border: 235 235 235;
  --input: 235 235 235;
  --ring: 64 64 64;
  --chart-1: 255 99 132;
  --chart-2: 54 162 235;
  --chart-3: 75 192 192;
  --chart-4: 255 205 86;
  --chart-5: 153 102 255;
  --radius: 0.75rem;
}

.dark {
  --background: 33 33 33;
  --foreground: 250 250 250;
  --card: 41 41 41;
  --card-foreground: 250 250 250;
  --popover: 41 41 41;
  --popover-foreground: 250 250 250;
  --primary: 250 250 250;
  --primary-foreground: 38 38 38;
  --secondary: 56 56 56;
  --secondary-foreground: 250 250 250;
  --muted: 56 56 56;
  --muted-foreground: 166 166 166;
  --accent: 61 61 61;
  --accent-foreground: 250 250 250;
  --destructive: 185 28 28;
  --destructive-foreground: 250 250 250;
  --border: 66 66 66;
  --input: 66 66 66;
  --ring: 179 179 179;
  --chart-1: 124 58 237;
  --chart-2: 34 197 94;
  --chart-3: 251 146 60;
  --chart-4: 236 72 153;
  --chart-5: 239 68 68;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

